{% extends 'base.html' %}

{% block title %}
    {{ header }}
{% endblock title %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-7">

    <form class="border border-bold p-5" method="post">
      {% csrf_token %}      
       
       <div class="form-row mb-4">
        <div class="col">
          <div class="form-group">
            {{ form.nama.label_tag }}
            {{ form.nama }}
          </div>
        </div>
        <div class="col">
          <div class="md-form">
            {{ form.angkatan.label_tag }}
            {{ form.angkatan }}
          </div>
        </div>
      </div>
      {{ form.keterangan.label_tag }}
      {{ form.keterangan }}
  
       <button class="btn btn-secondary btn-block my-4" type="submit">Submit</button>

      {% if messages %}
        {% for message in messages %}
          <script>
            alert('{{ message }}');
          </script>
        {% endfor %}
      {% endif %}

    </form>
    </div>
  </div>
{% endblock %}