{% extends 'base.html' %}

{% block title %}
    {{header}}
{% endblock title %}

{% block content %}
<div class="row border border-bold p-5">
    <div class="col">
        <h3>
            Peminjaman
        </h3>
        <div class="pre-scrollable">
        <table class="table">
            <tbody>
            {% for barang in barangs %}
            <tr>
                {% if barang.status == False %}
                    {% if barang.jenis == 'peminjaman' %}
                    <td>{{ barang.nama }}</td>
                    <td>{{ barang.barang }}</td>
                    <td>{{ barang.tanggal }}</td>
                    <td>
                        <a class="btn-sm btn-secondary nounderline" href="{% url 'barang:pgtPengembalian' barang.id %}">
                            Kembalikan
                        </a>
                    </td>
                    {% endif %}
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
    <div class="col">
        <h3>
            Penitipan
        </h3>
        <div class="pre-scrollable">
            <table class="table">
                <tbody>
                {% for barang in barangs %}
                <tr>
                    {% if barang.status == False %}
                        {% if barang.jenis == 'penitipan' %}
                        <td>{{ barang.nama }}</td>
                        <td>{{ barang.barang }}</td>
                        <td>{{ barang.tanggal }}</td>
                        <td>
                            <a class="btn-sm btn-secondary nounderline" href="{% url 'barang:pgtPengembalian' barang.id %}">
                                Ambil
                            </a>
                        </td>
                        {% endif %}
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}