{% extends 'base.html' %}

{% block title %}
    {{ header }}
{% endblock title %}

{% block content %}

    <form class="border border-bold p-5" method="post">
      {% csrf_token %}

      <div class="md-form mb-4">
            {{ form.nama.label_tag }}
            {{ form.barang }}
          </div>     
      
          <div class="form-group">
            {{ form.nama.label_tag }}
            {{ form.nama }}
          </div>

      <button class="btn btn-info btn-block my-4" type="submit">Submit</button>

      </div>

    </form>
  </div>
{% endblock %}