{% extends 'base.html' %}

{% block title %}
    304 Warehouse
{% endblock title %}

{% block content %}
	<div class="container" style="padding-top:30px;">
		<div class="jumbotron text-center">
            <h1>Buku Tamu</h1>
            <p>Dinus Open Source Community</p>
            <p>
                <a href="" class="btn btn-primary">Kunjungan</a>
                <a href="" class="btn btn-primary">Peminjaman</a>
                <a href="" class="btn btn-primary">Penitipan</a>
            </p>
        </div>
    </div>
{% endblock content %}